---
title: {{ tool.Name }} ({{ tool.Type }})
description: This is an overview of the tool {{ tool.Name }}, and its current status  within BC Gov.
{% if tool['Image URL']|length -%}
image: {{ tool['Image URL'] }}
{%- endif %}
---

# {{ tool.Name }} ({{ tool.Type }})

{% if tool['Image URL']|length -%}
<img src="{{ tool['Image URL'] }}" alt="{{ tool.Name }}" width="150"/>
{%- endif %}

## Description
{{ tool.Description }}

## Context
{{ tool.Context }}

##  Details for {{ tool.Name }}

|   |   |
|---|---|
|Cost/Spend   | {{ tool['Cost/Spend'] }}  |
|Hosting   | {{ tool.Hosting }}  |
|Login Type | {{ tool['Login Type'] }} |
|BC Gov Steward | {{ tool['Steward'] }} |
|Corporate PIA   | {{ tool['Corporate PIA'] }}  |
|Corporate STRA/SOAR   | {{ tool['Corporate STRA/SOAR'] }}   |
|Acceptable Terms   | {{ tool['Acceptable Terms'] }}  |
|Active Users   | {{ tool['Active Users'] }}  |
|Recommendation   |  {{ tool.Recommendation }} |
|URL   | {{ tool.URL }}  |

