---
title: {{ tool.Name }} ({{ tool.Type }})
description: This is an overview of the tool {{ tool.Name }}, and its current status  within BC Gov.
{% if tool['Image URL']|length -%}
image: {{ tool['Image URL'] }}
{%- endif %}
---

# {{ tool.Name }} ({{ tool.Type }})

## Description
{{ tool.Description }}

## Context
{{ tool.Context }}

##  Details for {{ tool.Name }}

|   |   |
|---|---|
|Cost/Spend   | {{ tool['Cost/Spend'] }}  |
|Hosting   | {{ tool.Hosting }}  |
|Corporate PIA   | {{ tool['Corporate PIA'] }}  |
|Corporate STRA   | {{ tool['Corporate STRA'] }}   |
|SOAR   | {{ tool.SOAR }}  |
|Acceptable Terms   | {{ tool['Acceptable Terms'] }}  |
|Active Users   | {{ tool['Active Users'] }}  |
|Recommendation   |  {{ tool.Recommendation }} |
|URL   | {{ tool.URL }}  |

